{%extends 'all_profiles/base.html'%} 
{% block content %} 
{{block.super}}

<head>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

</head>
<div class="container">
    <div class="grid">
        {% for image in images %}
        <div class="grid-item">
            <div class="">
                <div class="move2">
                    <img class="card-img-top move" src="{{image.picture_image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">About picture</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="trtr">
            <h2 class="text-center"> {{ image.name }} </h2>
        </div>

        {% empty %}
        <div class="row">
            <h2 class="text-center"></h2>
        </div>
        {% endfor %}
    </div>



</div>

<style>

    .move{
        border-radius: 50%;
    }

</style>
{% endblock %}

{% block scripts %}

{% endblock %}

